.card-header {
    text-align: center;
    margin-top: -9px;
    margin-bottom: 5px;
  }
  
  .customer-search-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-top: 10;
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
  .search-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1 1 200px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .date-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 150px;        
  }
  
  .quote-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 150px;
  }
  
  .quote-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .quote-value {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  