.item {
    display: flex;
    justify-content: space-between;
    padding: 0.1em;
    border-bottom: 1px solid #ddd;
}

.item-name {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.item-reference {
    flex: 0 0 auto;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sticky-input {
    position: -webkit-sticky; /* Para Safari */
    position: sticky;
    top: 0;
    background: white; /* Para que el fondo sea consistente */
    z-index: 1; /* Asegúrate de que esté sobre otros elementos */
    padding: 2px 0; /* Ajusta el padding según sea necesario */
  }