@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,600,700";

/* * { padding: 1; margin: 0; } */
html, body, #fullheight {
  font-size: 14px;
  /* font-family: 'Nunito Sans', sans-serif; */
  /* background-color: #f5f9fc; */
  height: 100vh;  
  min-height: 100vh;

  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  /* padding: 1rem; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

#root {
  height: 100%;
}

.App {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  padding: 0px;     
  margin-left: 0;
  height: 100%;
  width: 100%;
  /* background-color: aquamarine; */
}

.p-datatable-header {
  padding: 5px; /* Ajusta el valor del padding según tus preferencias */
}

.p-panel-content{
  padding: 0px;
}

.data-pc-section{
  height: 10px;
}

[data-pc-section="bodycell"] {
  padding: 4px; /* Ajusta el valor de padding según tus necesidades */
  font-size: 14px;
}

/* Estilos generales para dispositivos móviles y pantallas más pequeñas */
@media only screen and (max-width: 600px) {
  .mobile-input {
      width: 100%; /* Ajusta el ancho del input */
  }
}

/* @media only screen and (max-width: 575.98px) {
  body {
    overflow:  hidden;    
  }
  
  .content.is-open {
    margin-left: 100%;
    display: none;
    transition: all 0.5s;    
  }
  
  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    height: 100vh !important;
  }
  
  .sidebar.is-open > .sidebar-header button {
    display: block;
  }
  
  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
  
} */


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 165, 0, 0.6); /* Fondo naranja semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: all; /* Bloquea interacción con elementos debajo */
}

.message-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border: 2px solid orange; /* Borde naranja */
}

.message-box p {
  margin: 0;
  color: #ff4500; /* Texto naranja oscuro */
  font-weight: bold;
}

