html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .card {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;  
} */

.card {
  background: var(--surface-card);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.inputtext {
  height: 30px;
  line-height: 8px;
  padding: 0 8px;
}

.labelinput {
  height: 47px;
  margin-bottom: 6px;
  flex: 1;
  margin-right: 10px;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.checkbox-container {
  border: 1px solid var(--surface-border);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem; 
  display: flex ;
  flex: 4;
  flex-direction: column;
  gap: 5px;   
  margin-right: 10px;
}

.custom-dropdown-panel {
  width: 200px !important; /* Ajusta el ancho según tus necesidades */
}

.custom-excel-button .pi-file-excel {
  font-size: 1.3rem; /* Ajusta el tamaño del icono */
}

.hidden-button {
  display: none;
}

.inputtext-empty {
  border: 2px solid red;
}


/* body {
  margin: 0;  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
